---
# tasks file for ruby

- name: Install packages required for ruby install
  apt: pkg={{item}} state=latest update_cache=yes install_recommends=yes
  with_items: pkgs_to_install_ruby
  sudo: yes
  tags: install_pkgs_for_ruby

- name: Install Ruby via Rbenv for selected users
  shell: bash -lc "rbenv install --patch {{ ruby_version }}  < <(curl -fsSL https://gist.github.com/mislav/a18b9d7f0dc5b9efc162.txt)"
  sudo: true
  sudo_user: "{{ item }}"
  with_items: rbenv_users
  ignore_errors: true
  when: ruby_version  == "2.1.1"
  tags: install_ruby


- name: Install Ruby via Rbenv for selected users
  shell: bash -lc "rbenv install {{ ruby_version }}"
  sudo: true
  sudo_user: "{{ item }}"
  with_items: rbenv_users
  ignore_errors: true
  when: ruby_version != "2.1.1"
  tags: install_ruby

- name: Setting Ruby version for selected users
  shell: bash -lc "rbenv global {{ ruby_version }}"
  sudo: true
  sudo_user: "{{ item }}"
  with_items: rbenv_users
  ignore_errors: true
  tags: setting_ruby_version

- name: Install packages required for jRuby install
  apt: pkg={{item}} state=latest update_cache=yes install_recommends=yes
  with_items: pkgs_to_install_jruby
  sudo: yes
  tags: install_pkgs_for_jruby

- name: Install jRuby via Rbenv for selected users
  shell: bash -lc "rbenv install {{ jruby_version }}"
  sudo: true
  sudo_user: "{{ item }}"
  with_items: rbenv_users
  ignore_errors: true
  tags: install_jruby
